<% provide(:title, "店舗一覧") %>
<h1>店舗一覧</h1>
<body>
  <% @restaurants.each do |restaurant| %>
    <div class="card mb-3" style=("max-width: 1000px;")>
      <div class="row no-gutters">
        <div class="col-lg-6">
        　<% if restaurant.shop_image1.present? %>
            <%= image_tag restaurant.shop_image1 %>
        　<% else %>
            <%= image_tag "https://placehold.jp/150x150.png" %>
        　<% end%>    
        </div>
        <div class="col-lg-6">
          <div class="card-body">
            <p><%= link_to "#{restaurant.name}","/restaurants/#{restaurant.id}" %></p>
            <p><%= restaurant.address %></p>
            <p><%= restaurant.tel %></p>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</body>